<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styleSheet.css')}}">
</head>
<body>
    <h2>Personal Information</h2>
    <form action="/result" method="post">
        <table>
            <tr>
                <td>Your name:</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>Dojo Location:</td>
                <td><input type="text" name="location"></td>
            </tr>
            <tr>
                <td>Favorite Language: </td>
                <td><input type="text" name="favorite_language"></td>
            </tr>
            
        </table>
        <p>Comment (optional):</p>
        <textarea name="comment" cols="30" rows="10"></textarea>
        <input type="submit" value="Button">
    </form>
</body>
</html>